.SideBar {

    width: 300px;
    background-color: #131921;
    position: sticky;
    color: white;
    align-items:baseline;
    height: 91.8vh;
    overflow-y: auto;
    direction: ltr;
}

.TypeEntry {
    display:flex;
    align-items:start;
    justify-content: space-between;
    flex-direction: Column;
    margin: 20px 18px 18px 38px;
}

.EntryLabel {
    color: gray;
    /* margin-left: -100px; */
    margin-right: auto;
}

.EntryElement {
    font-family: Lato;
    font-size: 18px;
    margin: 6px 0 6px 0;
}

.LineBreak {
    color: white;
    width: 100%;
}

.SideBarShow {
    transition: transform 0.2s ease-in-out;
    transform: translateX(0);
}

.SideBarHide {
    transition: transform 0.2s ease-in-out;
    transform: translateX(-300px);
}

